@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;

}

body{
    background-image:linear-gradient( to right, #613D75, #351B43,#3B164F, #A781BB);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px, 5px, 5px,#160222e1 ;
    width: 600px;
    padding: 10px;
    margin:auto
}

h1{
    color:#3B164F;
    text-align: center;
    text-shadow: 1px, 1px, 2px #3b164f96;
}
h2{
    color:#613D75}
p{
    text-align: justify;
}